<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ssm.backend.domain.students.mappers.StudentMapper">
    <select id="selectStudentMstWithStudentId" parameterType="long" resultMap="StudentMstMap">
        SELECT
               sm.STUDENT_ID
             , sm.STUDENT_NAME
             , sm.BIRTHDATE
             , sm.GENDER
            <if test="includeSurvey">
             , svy.REGISTRATION_SOURCE_CD
             , svy.REGISTRATION_SOURCE_DETAIL
             , svy.DESIRED_MAJOR_CD
             , NULL AS DESIRED_MAJOR_NAME
             , svy.DESIRED_SCHOOL_CD
             , NULL AS DESIRED_SCHOOL_NAME
             , svy.STUDENT_REMARK
             , svy.COUNSELING_NOTE
             , sc.SUBJECT_CD
             , FN_GET_CODE_NAME('SUBJECT_CD', sc.SUBJECT_CD ) AS SUBJECT_NAME
             , sc.SCORE_FIRST
             , sc.SCORE_SECOND
             , sc.SCORE_THIRD
             , sc.REMARK
            </if>
          FROM STUDENT_MST sm
        <if test="includeSurvey">
          JOIN STUDENT_SURVEY_MST svy ON sm.STUDENT_ID = svy.STUDENT_ID
          JOIN STUDENT_SURVEY_SCORE_HIS sc ON sm.STUDENT_ID = sc.STUDENT_ID
        </if>
         WHERE sm.STUDENT_ID = #{studentId}
    </select>

    <resultMap id="StudentMstMap" type="StudentMst">
        <id column="STUDENT_ID" property="studentId"/>
        <result column="STUDENT_NAME" property="studentName"/>
        <result column="BIRTHDATE" property="birthdate"/>
        <result column="GENDER" property="gender"/>
        <association column="{studentId = student_id}" notNullColumn="studentId" property="profile" javaType="StudentProfile" select="selectOneStudentProfile"/>
        <association property="survey" javaType="StudentSurveyMst" resultMap="StudentSurveyMstMap"/>
    </resultMap>

    <resultMap id="StudentProfileMap" type="StudentProfile">
        <id column="STUDENT_ID" property="studentId"/>
        <result column="SCHOOL_YEAR_CD" property="schoolYearCd"/>
        <result column="SCHOOL_YEAR_NAME" property="schoolYearName"/>
        <result column="SCHOOL_CD" property="schoolCd"/>
        <result column="SCHOOL_NAME" property="schoolName"/>
        <result column="STUDENT_STATUS_CD" property="studentStatusCd"/>
        <result column="STUDENT_STATUS_NAME" property="studentStatusName"/>
        <result column="STUDENT_MOBILE_CONTACT" property="studentMobileContact"/>
        <result column="STUDENT_HOME_CONTACT" property="studentHomeContact"/>
        <result column="HOME_ADDRESS" property="homeAddress"/>
        <result column="PARENT_CONTACT_1" property="parentContact1"/>
        <result column="PARENT_RELATIONSHIP_CD_1" property="parentRelationshipCd1"/>
        <result column="PARENT_RELATIONSHIP_NAME_1" property="parentRelationshipName1"/>
        <result column="PARENT_CONTACT_2" property="parentContact2"/>
        <result column="PARENT_RELATIONSHIP_CD_2" property="parentRelationshipCd2"/>
        <result column="PARENT_RELATIONSHIP_NAME_2" property="parentRelationshipName2"/>
    </resultMap>
    <resultMap id="StudentSurveyMstMap" type="StudentSurveyMst">
        <result column="REGISTRATION_SOURCE_CD" property="registrationSourceCd"/>
        <result column="REGISTRATION_SOURCE_DETAIL" property="registrationSourceDetail"/>
        <result column="DESIRED_MAJOR_CD" property="desiredMajorCd"/>
        <result column="DESIRED_MAJOR_NAME" property="desiredMajorName"/>
        <result column="DESIRED_SCHOOL_CD" property="desiredSchoolCd"/>
        <result column="DESIRED_SCHOOL_NAME" property="desiredSchoolName"/>
        <result column="STUDENT_REMARK" property="studentRemark"/>
        <result column="COUNSELING_NOTE" property="counselingNote"/>
        <collection property="scoreHistories" ofType="StudentSurveyScoreHis" resultMap="StudentSurveyScoreHisMap"/>
    </resultMap>

    <resultMap id="StudentSurveyScoreHisMap" type="StudentSurveyScoreHis">
        <result column="SUBJECT_CD" property="subjectCd"/>
        <result column="SUBJECT_NAME" property="subjectName"/>
        <result column="SCORE_FIRST" property="scoreFirst"/>
        <result column="SCORE_SECOND" property="scoreSecond"/>
        <result column="SCORE_THIRD" property="scoreThird"/>
        <result column="REMARK" property="remark"/>
    </resultMap>

    <select id="selectOneStudentProfile" parameterType="StudentProfile" resultMap="StudentProfileMap">
        SELECT
              pf.STUDENT_ID
            , pf.SCHOOL_YEAR_CD
            , FN_GET_CODE_NAME('SCHOOL_YEAR_CD', pf.SCHOOL_YEAR_CD) AS SCHOOL_YEAR_NAME
            , pf.SCHOOL_CD
            , null AS SCHOOL_NAME
            , pf.STUDENT_STATUS_CD
            , FN_GET_CODE_NAME('STUDENT_STATUS_CD', pf.STUDENT_STATUS_CD) AS STUDENT_STATUS_NAME
            , pf.STUDENT_MOBILE_CONTACT
            , pf.STUDENT_HOME_CONTACT
            , pf.HOME_ADDRESS
            , pf.PARENT_CONTACT_1
            , pf.PARENT_RELATIONSHIP_CD_1
            , FN_GET_CODE_NAME('PARENT_RELATIONSHIP_CD', pf.PARENT_RELATIONSHIP_CD_1) AS PARENT_RELATIONSHIP_NAME_1
            , pf.PARENT_CONTACT_2
            , pf.PARENT_RELATIONSHIP_CD_2
            , FN_GET_CODE_NAME('PARENT_RELATIONSHIP_CD', pf.PARENT_RELATIONSHIP_CD_2) AS PARENT_RELATIONSHIP_NAME_2
        FROM STUDENT_PROFILE pf
        WHERE STUDENT_ID = #{studentId}
    </select>
    <update id="updateStudentProfile" parameterType="StudentProfile">
        UPDATE STUDENT_PROFILE
        SET
            <if test="schoolYearCd != null"> SCHOOL_YEAR_CD = #{schoolYearCd}, </if>
            <if test="studentStatusCd != null"> STUDENT_STATUS_CD = #{studentStatusCd}, </if>
            <if test="studentMobileContact != null and studentMobileContact != ''"> STUDENT_MOBILE_CONTACT = #{studentMobileContact}, </if>
            <if test="studentHomeContact != null and studentHomeContact != ''"> STUDENT_HOME_CONTACT = #{studentHomeContact}, </if>
            <if test="homeAddress != null and homeAddress != ''"> HOME_ADDRESS = #{homeAddress}, </if>
            <if test="parentContact1 != null and parentContact1 != ''"> PARENT_CONTACT_1 = #{parentContact1}, </if>
            <if test="parentRelationshipCd1 != null"> PARENT_RELATIONSHIP_CD_1 = #{parentRelationshipCd1}, </if>
            <if test="parentContact2 != null and parentContact2 != ''"> PARENT_CONTACT_2 = #{parentContact2}, </if>
            <if test="parentRelationshipCd2 != null"> PARENT_RELATIONSHIP_CD_2 = #{parentRelationshipCd2}, </if>
            MODIFIED_BY = #{modifiedBy},
            MODIFIED_AT = SYSDATE
        WHERE STUDENT_ID = #{studentId}
    </update>

    <insert id="cloneStudentProfileIntoHis" parameterType="StudentProfile">
        INSERT INTO STUDENT_PROFILE_HIS (
            STUDENT_ID,
            STUDENT_PROFILE_SEQ,
            SCHOOL_YEAR_CD,
            SCHOOL_CD,
            STUDENT_STATUS_CD,
            STUDENT_MOBILE_CONTACT,
            STUDENT_HOME_CONTACT,
            HOME_ADDRESS,
            CREATED_BY,
            CREATED_AT,
            MODIFIED_BY,
            MODIFIED_AT
        )
        SELECT
            STUDENT_ID,
            NVL((SELECT MAX(STUDENT_PROFILE_SEQ) FROM STUDENT_PROFILE_HIS WHERE STUDENT_ID = #{studentId}), 0) + 1,
            SCHOOL_YEAR_CD,
            SCHOOL_CD,
            STUDENT_STATUS_CD,
            STUDENT_MOBILE_CONTACT,
            STUDENT_HOME_CONTACT,
            HOME_ADDRESS,
            CREATED_BY,
            CREATED_AT,
            MODIFIED_BY,
            MODIFIED_AT
        FROM STUDENT_PROFILE sp
        WHERE sp.STUDENT_ID = #{studentId}
    </insert>

    <insert id="insertOneStudentMst" parameterType="StudentMst" useGeneratedKeys="true" keyColumn="STUDENT_ID" keyProperty="studentId">
        INSERT INTO STUDENT_MST (
             STUDENT_NAME,
             BIRTHDATE,
             GENDER,
             CREATED_BY,
             CREATED_AT,
             MODIFIED_BY,
             MODIFIED_AT
        )
        VALUES (
             #{studentName},
             #{birthdate},
             #{gender},
             #{createdBy},
             #{createdAt},
             #{modifiedBy},
             #{modifiedAt}
        )
    </insert>
    <insert id="insertOneStudentProfile" parameterType="StudentProfile">
        INSERT INTO STUDENT_PROFILE
        (
              STUDENT_ID
            , SCHOOL_YEAR_CD
            , SCHOOL_CD
            , STUDENT_STATUS_CD
            , STUDENT_MOBILE_CONTACT
            , STUDENT_HOME_CONTACT
            , HOME_ADDRESS
            , PARENT_CONTACT_1
            , PARENT_RELATIONSHIP_CD_1
            , PARENT_CONTACT_2
            , PARENT_RELATIONSHIP_CD_2
            , CREATED_AT
            , CREATED_BY
            , MODIFIED_AT
            , MODIFIED_BY
        )
        VALUES
        (
              #{studentId}
            , #{schoolYearCd}
            , #{schoolCd}
            , '10'                        /* 등록 */
            , #{studentMobileContact}
            , #{studentHomeContact}
            , #{homeAddress}
            , #{parentContact1}
            , #{parentRelationshipCd1}
            , #{parentContact2}
            , #{parentRelationshipCd2}
            , #{createdAt}
            , #{createdBy}
            , #{modifiedAt}
            , #{modifiedBy}
        )
    </insert>

    <insert id="insertOneStudentSurveyMst" parameterType="StudentSurveyMst">
        INSERT INTO STUDENT_SURVEY_MST
        (
             STUDENT_ID,
             REGISTRATION_SOURCE_CD,
             REGISTRATION_SOURCE_DETAIL,
             DESIRED_MAJOR_CD,
             DESIRED_SCHOOL_CD,
             STUDENT_REMARK,
             COUNSELING_NOTE,
             CREATED_AT,
             CREATED_BY,
             MODIFIED_AT,
             MODIFIED_BY
        )
        VALUES (
           #{studentId},
           #{registrationSourceCd},
           <if test="registrationSourceCd == '90'">#{registrationSourceDetail}, </if> /* 사용자 입력(90)코드면 변수로 받고 아니라면 cd 이름으로 넣기*/
           <if test="registrationSourceCd != '90'"> FN_GET_CODE_NAME('REGISTRATION_SOURCE_CD', #{registrationSourceCd}), </if>
           #{desiredMajorCd},
           #{desiredSchoolCd},
           #{studentRemark},
           #{counselingNote},
           #{createdAt},
           #{createdBy},
           #{modifiedAt},
           #{modifiedBy}
        )
    </insert>

    <insert id="insertOneStudentSurveyScoreHis" parameterType="StudentSurveyScoreHis">
        INSERT INTO STUDENT_SURVEY_SCORE_HIS
        (
             STUDENT_ID,
             SUBJECT_CD,
             SCORE_FIRST,
             SCORE_SECOND,
             SCORE_THIRD,
             REMARK,
             CREATED_AT,
             CREATED_BY,
             MODIFIED_AT,
             MODIFIED_BY
         )
        VALUES
        (
            #{studentId},
            #{subjectCd},
            #{scoreFirst},
            #{scoreSecond},
            #{scoreThird},
            #{remark},
            #{createdAt},
            #{createdBy},
            #{modifiedAt},
            #{modifiedBy}
        )
    </insert>

    <insert id="insertStudentExam" parameterType="StudentExam">
        INSERT INTO STUDENT_EXAM
        (
            STUDENT_ID,
            EXAM_ID,
            CREATED_AT,
            CREATED_BY,
            MODIFIED_AT,
            MODIFIED_BY
        )
        VALUES
        (
            #{studentId},
            #{examId},
            #{createdAt},
            #{createdBy},
            #{modifiedAt},
            #{modifiedBy}
        )
    </insert>
</mapper>