<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ssm.backend.domain.users.mappers.StudentMapper">
    <select id="selectOneUserWithId" parameterType="long" resultType="UserMst">
        SELECT
            USER_ID,
            USER_EMAIL,
            USER_NAME,
            PASSWORD_HASH
        FROM USER_MST
        WHERE USER_ID = #{userId}
    </select>

    <insert id="insertOneUser" parameterType="UserMst">
        -- TODO
    </insert>
</mapper>